<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="four columns">
      <% if @person.name %>
        <h4>Hey, <%= @person.name + '!' %></h4>
      <% else %>
        <%= f.label 'Name' %>
          <%= f.text_field :name, :class => "form-control" %><br>
      <% end %>
      
      
    </div>
  
    <div class="four columns">
      
        <%= f.label "Avatar" %>
        <% if @person.avatar != '' %>
          <%= image_tag @person.avatar_url(:thumb), :class => "thumbs" %>
        <% end %>
        <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
    <div class="four columns">
        <%= f.label "Attending" %><br>
        <%= f.radio_button :attending , "1", :class => "radio", :data => {:toggle=>"radio"} %> Yes<br>
        <%= f.radio_button :attending , "0", :class => "radio", :data => {:toggle=>"radio"} %> No
    </div>
    <div class="four columns">
        <%= f.label "Reason" %><br>
        <%= f.text_field :comment, :class => "form-control" %>
    </div>
  </div>
  <div class="actions right">
    <%= f.submit "Submit" %>
  </div>
<% end %>