<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field question">
    Hey, <%= @person.name + '!' %><br>
    You going to be at coffee this week?
  </div>
  <div class="field answer">
    <%= f.label "Avatar" %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field answer">
    <%= f.radio_button :attending , "1" , :checked => true %> Wouldn't miss it!<br>
    <%= f.radio_button :attending , "0" %> Sadly, no.
  </div>
  <div class="field">
    Got a reason?
    <%= f.text_field :comment %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>