<%= form_for @person , :html => {:multipart => true } do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-3">
    <div class="tile">
     Name<br>
      <%= f.text_field :name, :class => "form-control" %><br>
      You going to be at coffee this week?
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tile">
      <%= f.label "Avatar" %>
      <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tile">
      <%= f.label "Attending" %>
      <%= f.radio_button :attending , "1" , :class => "radio" %> Wouldn't miss it!<br>
      <%= f.radio_button :attending , "0", :class => "radio" %> Sadly, no.
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tile">
      <%= f.label "Reason" %>
      <%= f.text_field :comment, :class => "form-control" %>
      </div>
  </div>
</div>
<div class="com-sm-12">
  <%= f.submit :class => "btn btn-primary"%>
</div>
<% end %>
