<div class="col-sm-12">
  <h1 class="playfair">Coffee Sunday?</h1>
  <h3 class="montserrat underdate"><% @sunday = Date.new %>
  <% @sunday = Time.now.end_of_week %>
  <%= @sunday.strftime("%B %d, %Y") %></h3>
</div>

<div class="col-sm-12">
  <h3 class="montserrat sage">Gonna be there</h3>
</div>

<% @people.each do |person| %>
  <% if person.attending? %> 
    <div class="row">
      <div class="col-sm-2 thumbs">
        <%= image_tag person.avatar_url(:thumb), :class => "thumbs" %>
      </div>
      <div class="col-sm-2 name">
        <%= person.name %>
      </div>
      
      <div class="col-sm-8">
        <%= link_to (image_tag '/images/pencil.png', :class => "edit"), edit_person_path(person) %>
        <%= image_tag '/images/speech_bubble.png', :class => "edit" %>
        <div class="tooltip fade bottom in">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner"><%= person.comment %></div>
        </div>
      </div>
      
    </div>
  <% end %>
<% end %>


<div class="col-sm-12">
  <h3 class="montserrat chinatown">Not gonna make it</h3>
</div>

<% @people.each do |person| %>
  <% if !person.attending? %> 
    <div class="row">
      <div class="col-sm-3 thumbs">
        <%= image_tag person.avatar_url(:thumb), :class => "thumbs" %>
      </div>
      <div class="col-sm-2 name">
        <%= person.name %>
      </div>
      
      <div class="col-sm-3 small">
        <%= link_to (image_tag '/images/pencil.png', :class => "edit"), edit_person_path(person) %>
        <%= image_tag '/images/speech_bubble.png', :class => "edit" %>
        <div class="tooltip fade bottom in">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner"><%= person.comment %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>



<br>

<div class="add-person"><%= link_to (image_tag '/images/add.png', :alt=>"Add a new friend!", :class => 'edit'), new_person_path %></div>
