<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @person.attending %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @person.avatar_url(:thumb), :class => "thumbs" %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
